<div class="container">
  <h1>Dados Pessoais</h1>
  <div class="form">
    <form>
      <div class="input-group">
        <div class="input-box">
          <label for="fistname">Nome</label>
          <input
            id="firtname"
            type="text"
            name="firtname"
            placeholder="Digite seu primeiro nome"
            required
          />
        </div>

        <div class="input-box">
          <label for="lastname">Sobrenome</label>
          <input
            id="lastname"
            type="text"
            name="lastname"
            placeholder="Digite seu sobrenome"
            required
          />
        </div>

        <div class="input-box">
          <label for="dataNascimento">Data de nascimento</label>
          <input
            id="dataNascimento"
            type="date"
            name="dataNascimento"
            required
          />
        </div>

        <div class="input-box">
          <label for="number">Telefone</label>
          <input
            id="number"
            type="tel"
            name="number"
            placeholder="(xx) xxxx-xxxx"
            required
          />
        </div>

        <div class="input-box">
          <label for="cidade">Cidade</label>
          <input
            id="cidade"
            type="text"
            name="cidade"
            placeholder="Digite sua Cidade"
            required
          />
        </div>

        <div class="input-box">
          <label for="estado">Estado</label>
          <select name="estado">
            <option value="acre">AC</option>
            <option value="alagoas">AL</option>
            <option value="amapa">AP</option>
            <option value="amazonas">AM</option>
            <option value="bahia">BA</option>
            <option value="ceara">CE</option>
            <option value="espiritoSanto">ES</option>
            <option value="goias">GO</option>
            <option value="maranhao">MA</option>
            <option value="matoGrosso">MT</option>
            <option value="minasGrossoSul">MS</option>
            <option value="minasGerais">MG</option>
            <option value="para">PA</option>
            <option value="paraiba">PB</option>
            <option value="parana">PR</option>
            <option value="pernambuco">PE</option>
            <option value="piaui">PI</option>
            <option value="rioDeJaneiro">RJ</option>
            <option value="rioGrandeNorte">RN</option>
            <option value="rioGrandeSul">RS</option>
            <option value="rondonia">RO</option>
            <option value="roraima">RR</option>
            <option value="santaCatarina">SC</option>
            <option value="saoPaulo" selected>SP</option>
            <option value="sergipe">SE</option>
            <option value="tocantins">TO</option>
            <option value="distritoFederal">DF</option>
          </select>
        </div>

        <div class="input-box">
          <label for="email">E-mail</label>
          <input
            id="email"
            type="text"
            name="email"
            placeholder="Digite seu E-mail"
            required
          />
        </div>

        <div class="input-box">
          <label for="cidade">Perfil Linkedin</label> <br>
          <input
            id="cidade"
            type="text"
            name="cidade"
            placeholder="Usuário do Linkedin"
            required
          />
          <img src="" />
        </div>
      </div>

      <div class="next-button">
        <button id="btn"><a href="home">Voltar</a></button>
        <button id="btn"><a href="competencias">Próximo</a></button>
      </div>
    </form>
  </div>
</div>
