<div class="container">
  <h1>Competências</h1>
  <div class="form">
    <form>
      <div class="input-group">
        <div class="input-box">
          <label for="descricao">Habilidade</label>
          <input
            id="descricao"
            type="text"
            name="descricao"
            placeholder="Digite sua Habilidade"
          />
        </div>
        <div class="input-box">
          <label for="nivel">Nível</label>
          <select name="nivel">
            <option value="acre">Iniciante</option>
            <option value="alagoas">Intermediário</option>
            <option value="amapa">Avançado</option>
          </select>
        </div>
      </div>
      <div>
        <button id="btn-save">Salvar</button>
      </div>
      <hr width="70%" align="center" />
      <div class="next-button">
        <button id="btn"><a href="dados-pessoais">Voltar</a></button>
        <button id="btn"><a href="experiencias">Próximo</a></button>
      </div>
    </form>
  </div>
</div>
