<div class="container">
    <h1>Obrigado!</h1>
    <div class="form">
        <p>Você  inseriu todos os dados, agora seu currículo está disponível para download.</p>  
        <hr width=80% align="center">
        <div>
            <button id="btn-iniciar">
                <a href="../../assets/profile-tamara.pdf" target="_blank">Baixar</a>
                <img src="../../assets/baixar.svg">
            </button>
            <button id="btn-ini">
                <a href="home">Inicio</a>
                <img src="../../assets/inicio.svg">
            </button>
        </div>
    </div>
</div>