#btn-ini{
    width: 310px;
    height: 38px;
    background-color: #CFD3E3;
    border-color: #CFD3E3;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    transition: background 1s;
}

#btn-ini img {
    width: 17px;
    height: 20px;
}

img{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 10px;
    text-align: center;
}
