<div class="container">
  <h1>Experiências</h1>
  <div class="form">
    <form>
      <div class="input-group">
        <div class="input-box">
          <label for="formacao">Cargo</label>
          <input
            id="formacao"
            type="text"
            name="formacao"
            placeholder="Digite sua formação"
            required
          />
        </div>

        <div class="input-box">
          <label for="instituicao">Empresa</label>
          <input
            id="instituicao"
            type="text"
            name="instituicao"
            placeholder="Digite a instituição"
            required
          />
        </div>

        <div class="input-box">
          <label for="dataInicio">Data de início</label>
          <input id="dataInicio" type="date" name="dataInicio" />
        </div>

        <div class="input-box">
          <label for="dataTermino">Data de término</label>
          <label for="atual">Atual</label>
          <input id="dataTermino" type="date" name="dataTermino" />
        </div>

        <div class="input-box">
          <label for="cidade">Cidade</label>
          <input
            id="cidade"
            type="text"
            name="cidade"
            placeholder="Digite a cidade"
            required
          />
        </div>

        <div class="input-box">
          <label for="estado">Estado</label>
          <select name="estado">
            <option value="acre">AC</option>
            <option value="alagoas">AL</option>
            <option value="amapa">AP</option>
            <option value="amazonas">AM</option>
            <option value="bahia">BA</option>
            <option value="ceara">CE</option>
            <option value="espiritoSanto">ES</option>
            <option value="goias">GO</option>
            <option value="maranhao">MA</option>
            <option value="matoGrosso">MT</option>
            <option value="minasGrossoSul">MS</option>
            <option value="minasGerais">MG</option>
            <option value="para">PA</option>
            <option value="paraiba">PB</option>
            <option value="parana">PR</option>
            <option value="pernambuco">PE</option>
            <option value="piaui">PI</option>
            <option value="rioDeJaneiro">RJ</option>
            <option value="rioGrandeNorte">RN</option>
            <option value="rioGrandeSul">RS</option>
            <option value="rondonia">RO</option>
            <option value="roraima">RR</option>
            <option value="santaCatarina">SC</option>
            <option value="saoPaulo" selected>SP</option>
            <option value="sergipe">SE</option>
            <option value="tocantins">TO</option>
            <option value="distritoFederal">DF</option>
          </select>
        </div>
        <!-- 
        <button>Confimar</button>
        <button>Excluir</button> -->
      </div>
      <div class="next-button">
        <button id="btn"><a href="competencias">Voltar</a></button>
        <button id="btn"><a href="formacao">Próximo</a></button>
      </div>
    </form>
  </div>
</div>
