<div class="container">
  <h1>Formações</h1>
  <div class="form">
    <form>
      <div class="input-group">
        <div class="input-box">
          <label for="curso">Curso</label>
          <input
            id="curso"
            type="text"
            name="curso"
            placeholder="Digite o curso"
            required
          />
        </div>

        <div class="input-box">
          <label for="instituicao">Instituição</label>
          <input
            id="instituicao"
            type="text"
            name="instituicao"
            placeholder="Nome da instituição"
            required
          />
        </div>

        <div class="input-box">
          <label for="dataInicio">Data de início</label>
          <input id="dataInicio" type="date" name="dataInicio" required />
        </div>

        <div class="input-box">
          <label for="dataFim">Data de érmino</label>
          <input id="dataFim" type="date" name="dataFim" required />
        </div>

        <div class="input-box">
          <label for="cidade">Cidade</label>
          <input
            id="cidade"
            type="text"
            name="cidade"
            placeholder="Digite sua Cidade"
            required
          />
        </div>

        <div class="input-box">
          <label for="estado">Estado</label>
          <select name="estado">
            <option value="acre">AC</option>
            <option value="alagoas">AL</option>
            <option value="amapa">AP</option>
            <option value="amazonas">AM</option>
            <option value="bahia">BA</option>
            <option value="ceara">CE</option>
            <option value="espiritoSanto">ES</option>
            <option value="goias">GO</option>
            <option value="maranhao">MA</option>
            <option value="matoGrosso">MT</option>
            <option value="minasGrossoSul">MS</option>
            <option value="minasGerais">MG</option>
            <option value="para">PA</option>
            <option value="paraiba">PB</option>
            <option value="parana">PR</option>
            <option value="pernambuco">PE</option>
            <option value="piaui">PI</option>
            <option value="rioDeJaneiro">RJ</option>
            <option value="rioGrandeNorte">RN</option>
            <option value="rioGrandeSul">RS</option>
            <option value="rondonia">RO</option>
            <option value="roraima">RR</option>
            <option value="santaCatarina">SC</option>
            <option value="saoPaulo" selected>SP</option>
            <option value="sergipe">SE</option>
            <option value="tocantins">TO</option>
            <option value="distritoFederal">DF</option>
          </select>
        </div>

        <div class="input-box">
          <label for="descricao">Descrição</label>
        </div>
      </div>
      <textarea
        style="resize: 278px"
        id="descricao"
        placeholder="Descreva um pouco sobre o curso *"
      ></textarea>
      <div>
        <button id="btn-save">Salvar</button>
      </div>
      <hr width="70%" align="center" />
      <div class="next-button">
        <button id="btn"><a href="experiencias">Voltar</a></button>
        <button id="btn"><a href="idiomas">Próximo</a></button>
      </div>
    </form>
  </div>
</div>
