/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

* {
    font-family: "Nunito", sans-serif;
    color: #292929;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.form {
    border: 2px solid #1229A3;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    height: 500px;
    justify-content: center;
    align-items: stretch;
}

.container {
    width: 100%;
    height: 100vw;
    background: #DADEF1;
    text-align: center;
}

p {
    padding-top: 10px;
    margin: 5px 25px 5px 25px;
    font-weight: bold;
    font-size: larger;
    width: 450px;
}

hr {
    margin-top: 65px;
    color: #909096;
}

h1 {
    font-size: 25px;
    padding: 25px;
    font-weight: bold
}

#btn {
    width: 100px;
    height: 30px;
    background-color: #9DA7D8;
    border-color: #9DA7D8;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

#btn-iniciar {
    width: 310px;
    height: 38px;
    background-color: #9DA7D8;
    border-color: #9DA7D8;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    transition: background 1s;
    margin: 10px;
    text-align: center;
}

#btn-iniciar:hover,
#btn-iniciar:focus {
    background: #6f7cbd;
    border-color: #6f7cbd;
}

#btn-save {
    width: 200px;
    height: 36px;
    background: #9DA7D8;
    border-color: #9DA7D8;
    border-radius: 5px;
    font-weight: bold;
}

input {
    display: block;
    width: 200px;
    height: 20px;
    margin-top: 5px;
}

.input-box {
    padding-top: 10px;
    margin-left: 15px;
}

.input-group {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding: 10px;
}

select {
    display: flex;
    margin-top: 5px;
    width: 208px;
    height: 24px;
}