<div class="container">
  <h1>CV-CREATOR</h1>
  <div class="form">
    <p style="text-indent: justify;">
      Bem vindo ao CV-CREATOR, seu criador de currículos. Insira sua informações
      e faça download do arquivo em PDF.
    </p>
    <p><b>Bora começar?</b></p>
    <hr width="80%" align="center" />
    <div>
      <button id="btn-iniciar">
        <a href="dados-pessoais">Começar</a>
        <img src="../../assets/comecar.svg" />
      </button>
    </div>
  </div>
</div>
